@charset "UTF -8";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
    --cor-principal: purple;
}
/*para criar variavel*/

h1{
    font-family: "Parisienne", cursive;
    color:darkorchid;
    /* Para mais fontes use o site google fonts */
}
/* Para tag apenas chaves*/

p{
    color: var(--cor-principal);
}
/* variavel e organizaçao*/
#titulo-principal {
    color: rebeccapurple;
}
/* # para id só 1 id */ 

.topico{
    background-color: rgb(71, 71, 71);
    color: white;
}
/* . classes*/

a{
    font-weight: bold;
    text-decoration: none;
    color: blueviolet;
}

a:visited{
    color:darkviolet;
}

a:hover{
    text-decoration: underline;
}

.especial:hover{
    color: white;
    background-color: rgb(72, 72, 72);
    text-decoration: none;
}